.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap; /* drop to new line */
  padding: 12px 24px;
  /* position: sticky; */
  /* top: 20px; */
}

.navbar .links {
  display: flex;
  gap: 16px;
}
#feature {
  /* start at line 1, span 2 cols */
  grid-column: 1 / 3;
  grid-row: 1;
}
.tall {
  grid-row: span 2;
}
#flexbox {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  gap: 20px 5px;
}

#flexbox > div {
  border: 1px solid rgb(160, 176, 160);
  background-color: rgb(228, 240, 228);
  flex: 1 1 auto;
  width: 100px;
  height: 50px;
}
